.body {
	font-family: 'Roboto Slab', serif;
}

.jumbotron {
	font-family: 'Roboto Slab', serif;
}

.jumbotron h1 {
	line-height: 150px;
}

.jumbotron p {
	line-height: 17px;
}

.jumbotron a {
	line-height: 17px;
}

.work_experience_title{
	font-family: 'Roboto Slab', serif;
}

.work_experience_1 {
	font-family: 'Roboto Slab', serif;
}

.work_experience_1 ul {
	background-color: #EFEFEF;
	border: 10px solid #dbdbdb;
}

.work_experience_2 {
	font-family: 'Roboto Slab', serif;
}

.work_experience_2 ul {
	background-color: #EFEFEF;
	border: 10px solid #dbdbdb;
}

.work_experience_3 {
	font-family: 'Roboto Slab', serif;
}

.work_experience_3 ul {
	background-color: #EFEFEF;
	border: 10px solid #dbdbdb;
}

.work_experience_4 {
	font-family: 'Roboto Slab', serif;
}

.work_experience_4 ul {
	background-color: #EFEFEF;
	border: 10px solid #dbdbdb;
}

.work_experience_5 {
	font-family: 'Roboto Slab', serif;
}

.work_experience_5 ul {
	background-color: #EFEFEF;
	border: 10px solid #dbdbdb;
}

.education_title {
	font-family: 'Roboto Slab', serif;
}

.education {
	font-family: 'Roboto Slab', serif;
}

.education ul {
	background-color: #EFEFEF;
	border: 10px solid #dbdbdb;
}